/* footer.css */

footer {
    background-color: #a80a0a;
    color: #ffffff;
    display: flex;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-content p {
    margin: 0;
}

.socials {
    list-style: none;
    display: flex;
    gap: 10px;
}

.socials a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: -5px;
    width: 30px;
    height: 30px;
}
