/* navbar.css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    width: 100%;
}

#logo img {
    height: 90px;
}

.navigation-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation-menu a {
    text-decoration: none;
    color: #ac0000;
}

.login-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-link {
    margin-right: 10px;
}

.btn-outline-dark {
    border: none;
    background-color: #971818;
    color: #ffffff;
    padding: 20px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 16px;
    text-align: center;
    text-decoration: center;
    display: inline-block;
}

.btn-hover-color:hover {
    background-color: #333;
    color: #fff;
}
